<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>CloudKeeper - DashBoard</title>
</head>


<body>
    <div id="dashboard">
        <div id="header">
            <h1>CloudKeeper - DashBoard</h1>
        </div>

        <div id="top-nav">
            <!--Breadcrumbs navigation-->


        </div>



        <div id="sidebar">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#"></a></li>
                <li><a href="#">Login/Logout</a></li>
            </ul>

        </div>






        <div id="footer">


        </div>






    </div>






</body>



</html>